{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('create') }}">
                        应聘人员入口
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('login') }}">
                        管理员入口
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
